page-search-result {
    .skill-tag {
        padding : 3px 3px 3px 3px;
        top: 36%;
        font-size: 12px;
        width: auto;
        float:left;
        background-color: #eaedf2;
        overflow: auto;
        margin:1px 1px 1px 1px;
      }
      .tag-label{
        font-size: 10px;
        width: auto;
      }
}
